
*{
    margin: 0px;
    padding: 0px;
   
}

/* font style */


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}



.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* sheare style */
.primary-btn{
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 35px;
    border: none;
    transition: all 0.3s;   

    }
    
    .primary-btn:hover{
    background-color: rgb(238, 217, 25);
    font-size: large;
    
}


/* header style */
  header{
    height: 100vh;
    background-image:  url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;

  }


/* nav start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.logo{
    
    font-weight:900;
    font-size: 35px;
    color: #4E47FF;
}
  .hero-section{
    padding: 100px 200px ;
    text-align: center;
    
  }

  .hero-section h1{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    padding-bottom: 40px;
  }


/* action section start */
  main{
    background-color: #F4F7FE;
  }
.action-secton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 160px;
    padding: 90px 0px;
}
.acttion-title{
    font-weight: 700;
    font-size: 42px;
    color: #252432;
    padding-bottom: 10px;
    
}

.action-description{
    font-weight: 400;
    font-size: 24px;
    padding: 10px 0px;
    color: #252432;
}

.action-img{
    
     width: 403px;
     height: 328px;  
     border-radius: 48px;
}


/* productive section start */

.productive-section{
    margin:100px 180px ;
    background-color:#E5E7FF;
    border-radius: 10px;
}
.productive-title{
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    color: #252432;
    padding: 30px;
}

.productive-result{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 30px;

}

.productive-result h1{
    font-weight: 700;
    font-size: 85px;
    color: #4E47FF;
}

.productive-result p{
font-size: 20px;
color:#252432 ;
}


/* card users start */
.card-users{
    margin: 0px 150px;

}
.card-users-title{
    text-align: center;
    margin: 50px;
}

.card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card{
    width: 210px;
    height: 150px;
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 10px;
    
}

.card-footer{
    display: flex;
    gap: 30px;
    align-items: center;
    color: #757575;
}

.card-title{
  font-weight: 600;
  font-size: 18px;
  padding: 10px 0px;
  color: #252432;
}

.card-description{
 font-weight: 400;
  font-size: 12px;
  padding: 10px 0px;
   color:#1E1E1E;
}

.card-footer-header{
    font-weight: 600;
    font-size: 10px;
    padding-bottom: 5px;
}

.card-footer-des{
    font-weight: 400;
    font-size: 10px;
    padding: 5px;
}

/* focus section start */

.focas-container{
    margin: 130px 150px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    
}

.focus-con-title{
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    padding: 20px;
}

.focus-con-des{
    font-weight:400;
    font-size: 16px;
    color:#1E1E1E;
    padding: 10px;
}

.focus-img{
    padding: 20px;
    border-radius: 50px;
}

/* form section start */

.form-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 50px;
    margin: 50px 150px;
    padding-bottom: 100px;


    
}

.form-container h1{
    font-weight: 700;
    font-size: 70px;
    color: #000000;
    width: 50%;
    padding: 50px;
}

.from-section{
    text-align: left;
    width: 50%;
    left: 30px;
    padding: 10px;
}

 .from-section label{
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.from-section input{
    font-weight: 400;
    font-size: 18px;
    border: none;
    outline-style:none;
    height: 50px;
    width: 100%;
    border-radius:10px;
    text-align: left;
    padding-left: 20px;
    }
     .message-input{

        color: #000000;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 500;
     }
    ::placeholder{
        color: #757575;
    }

    .btn{
        width: 505px;
        margin: 15px 0px;
        
    }


    /* footer */
       

    .footer-container{
        padding:100px 10px;
    }
    .footer-title{
         font-weight:900;
         font-size: 100px;
         color: #4E47FF;
         text-align: center;
    }

    .footer-des{
        color: #8987A1;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        margin: 20px 420px;
    }

    .footer-menubar{
        margin: 10px 460px;
        display: flex;
        justify-content: space-between;
    }

    .footer-menubar li{
        list-style: none;
    }

    .footer-menubar li a{
        text-decoration: none;
        color: #8987A1;
        font-weight: 500;
        font-size: 20px;
    }